{% extends 'CoreBundle:layout:base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">

                    {% block box_body %}{% endblock %}

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

{% endblock %}
